* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.for_header {
    background-color:#181818;
    padding: 24px 0;
}

.for_header_div {
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.for_head_logo {
    margin-left: 32px
}

.for_header_ul {
    list-style: none; display: flex;
}

.for_header_a_Business {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.for_header_a_Images {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.for_header_a_Gear {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.for_header_a_Contact {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF
}

.for_header_a_Template {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.4px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px 20px;
    color: #000000;
}

.for_header_li_Featured {
    margin-left: 56px;
}

.for_header_li_Gear {
    margin-left: 32px;
}

.for_header_li_Contact {
    margin-left: 32px
}

.for_header_li_Template {
    margin-left: 31px;
}

.for_main_section {
    background-image: url("../images/bg_main.jpg");
    background-size: cover;
    height: 100vh; display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}

.for_main_section div {
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}

.for_main_section h2 {
    font: 14px/20px 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.for_main_section h1{
    font: 54px/59px 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;"
}
.for_main_section p {
    font: 14px/20px 'Poppins', sans-serif;
    text-align: center;
    color: #C0C0C0;"
}






.for_Form {
    padding: 150px;
}

.for_Form_div {
    max-width: 564px;
}

.for_Form_label {
    display: block;
}

.for_Form_input {
    width: 100%; box-sizing: border-box;
}

.for_File_label {
    display: block;
}

.for_label_message {
    display: block;
}
.for_label_textarea {
    height: 150px; resize: none;
}

.for_City {
    display: block;
}

.for_h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;
}


.for_h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    /* identical to box height, or 110% */

    text-align: center;

    color: #FFFFFF;
}

.for_Paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #C0C0C0;
}
/*----------------------------*/


.fixed_location {
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;

}

.fixed_location li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
    display: flex;
    align-items: center;
    position: relative;

}

.fixed_location li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/Combined-Shape.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;

}

.fixed_location li:nth-child(2):before {
    background-image: url("../images/Combined-Shape (1).svg");
}

.fixed_location li:nth-child(3):before {
    background-image: url("../images/Combined-Shape (2).svg");
    width: 32px;
}

.fixed_location li:nth-child(4):before {
    background-image: url("../images/Loc.svg" );
    width: 10px;
}

.sunset {
    background-image: url("../images/Mount.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;

}

.sunset .sub_container, .leafs .sub_container, .star_fall .sub_container {
    max-width: 298px;
    margin-right: 62px;
}


.sunset h4, .leafs h4, .star_fall h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.sunset, .leafs, .star_fall {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

.leafs {
    background-image: url("../images/Leafs_bg.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}


.past_clients {
    background-color: black;
    min-height: 500px;
    box-sizing: border-box;
    padding-top: 113px;
    padding-bottom: 140px;
}


.past_clients h2, .help h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}


.past_clients p, .help p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 82px;
}


.past_clients a {
    max-width: 128px;
}


.star_fall {
    background-image: url("../images/Mount_bg.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}


.help {
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding-top: 113px;
    padding-bottom: 108px;
}


.help div{
    max-width:571px;
    margin: auto;
}


.help p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    padding-bottom: 22px;
}


.help a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #000000;
    height: 42px;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    background: #FFFFFF;
    border-radius: 14px;
    padding-right: 10px;
}


.help a:before{
    content: "";
    display: inline-block;
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 14px;
    margin-left: 5px;
    margin-right: 5px;

}


